.ai/czat_zalozenia_projektu.md
.ai/folders.txt
.ai/koncepcja.md
.ai/piotrwai-10devs.txt
.ai/prd-10xdevs.md

# Pliki konfiguracyjne zawierające wrażliwe dane
/config.php
.env

# Pliki tymczasowe
*.cache
*.log
*.tmp
smarty/templates_c/*
!smarty/templates_c/.gitkeep

# Katalogi IDE
.idea/
.vscode/

# PHPUnit
vendor/

